---
Checks:
    -*,  
    -misc-unused-parameters,
    -readability-convert-member-functions-to-static,
    -objc*,
    -llvm*,
    -fuschia*,
    -darwin*,
    -google*,
    -clang-analyzer-osx*,
    -clang-analyzer-optin.osx*,
    -abseil*
